@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-manrope-regular, Arial, Helvetica, sans-serif);
}

.manrope-medium {
  font-family: var(--font-manrope-medium, Arial, Helvetica, sans-serif);
}

.manrope-semibold {
  font-family: var(--font-manrope-semibold, Arial, Helvetica, sans-serif);
}

.manrope-bold {
  font-family: var(--font-manrope-bold, Arial, Helvetica, sans-serif);
}

.poppins-semibold {
  font-family: var(--font-poppins-semibold, Arial, Helvetica, sans-serif);
}

.poppins-bold {
  font-family: var(--font-poppins-bold, Arial, Helvetica, sans-serif);
}

.scroll-top {
  scroll-margin-top: 4rem;
}
